<<<<<<< HEAD
<div id="create_topic">
<%= simple_form_for @bucket do |f| %>
	<%= f.input :name %>
	<%= f.input :topic %>
	<%= f.button :submit, "Suggest Topic" %>
<% end %>
=======
<div id="create_topic">
<%= simple_form_for @bucket do |f| %>
	<%= f.input :name %>
	<%= f.input :topic %>
	<%= f.button :submit, "Suggest Topic" %>
<% end %>
>>>>>>> f27fccdf524fb7b795100c7668d0261f64d7eb7c
</div>